openapi: 3.1.0
info:
  title: Orbiter Universe API
  version: 0.1.0
  description: |
    The consumer-facing contract of the Orbiter Universe backend. Every caller is a registered client (the Orbiter App backend, self-hosted App backends, tooling) authenticating with an API key. Every response carries the canonical entity id — a merged id resolves through the merge chain and the response echoes the requested id.
servers:
  - url: https://universe.orbiter.io
security:
  - bearerAuth: []
tags:
  - name: Entities
    description: Canonical entity reads and identifier resolution.
  - name: Enrichment
    description: |
      Data-plane enrichment triggers: the company get-or-create entry gate (scope enrich:company) and the person one (enrich:person). The two scopes are independent.
  - name: Projections
    description: |
      Versioned packages consumers read and upsert from. Row-derived projections carry an entity's attributes; the graph-derived subgraph projection carries its relationships, including edge types that have no backing row. Graph search finds ids a consumer does not yet hold; graph paths says how two entities connect.
  - name: Persona
    description: |
      The persona build trigger (scope persona:build). Asks for a person's nine-dimension profile; the work runs in a worker, so the call reports what it set in motion rather than the persona itself.
  - name: Graph
    description: |
      Operator-only graph seeding (scope graph:seed). Not part of the consumer contract — self-hosted clients never call these.
  - name: Admin
    description: |
      Management plane: client registry and API-key lifecycle (scope clients:manage). Not part of the consumer contract — self-hosted clients never call these.
  - name: Agents
    description: |
      Management plane for the agentic enrichment tier: re-drive stalled Deep Bio jobs, or research one person again on purpose. Staff-only (WorkOS role admin, no scope grants them) because each call can spend provider credit. Not part of the consumer contract — an agent's output leaves through the publish projections like any other fact.
paths:
  /v1/entities/{id}:
    get:
      operationId: getEntity
      tags:
        - Entities
      summary: Get the canonical entity for an id
      description: |
        Resolves the id through the merge chain (merged_into) and returns the living canonical row. The response id may differ from the requested id — consumers must overwrite stored references with the returned id. Requires scope `read:entity`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The canonical entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/entities/{id}/projection:
    get:
      operationId: getEntityProjection
      tags:
        - Projections
      summary: Get the versioned projection for a company, person or stage production
      description: |
        Returns `company_projection.v1`, `person_projection.v1` or `stage_production_projection.v1` depending on the entity type — the versioned envelope consumers apply idempotently to their own storage. Check `schema_version` to tell them apart. The id resolves through the merge chain first; the `universe_*_uuid` in the body is always the canonical id, and it is also the graph node id. `run_id` is deterministic per (entity, source state): re-pulling unchanged data yields the same run_id, so consumer re-applies are natural no-ops. Returns 404 until a company has been distilled, and — for a person — until enrichment has completed SUCCESSFULLY: a person whose run is still pending or settled-failed is deliberately not emitted. A stage production answers 404 until its profile is distilled, and in a deployment whose `STAGE_PUBLISH_ENABLED` gate is closed. Requires scope `projections:pull`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The projection package.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CompanyProjectionEnvelope'
                  - $ref: '#/components/schemas/PersonProjectionEnvelope'
                  - $ref: '#/components/schemas/StageProductionProjectionEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/entities/{id}/subgraph:
    get:
      operationId: getEntitySubgraph
      tags:
        - Projections
      summary: Get an entity and its directly connected neighbours from the graph
      description: |
        Returns the entity plus everything one hop away, as nodes and edges copied verbatim from the graph, for a consumer to write into its own graph unchanged.
        This projection is derived from the graph, not from Postgres rows. The row-derived projections carry only what has rows; several edge types have none, FOUNDED among them, so a consumer that rebuilds relationships from those loses them with no error.
        Geography, expertise and tombstoned nodes are excluded, and a node reached by several edges is returned once. Exclusions are policy, not a caller option: they depend on the ontology, and two consumers copying one entity must get the same graph.
        Only edges incident to the anchor are returned. An edge between two neighbours belongs to their own neighbourhoods.
        Node and edge properties are returned verbatim and are deliberately untyped: the same key carries different types across labels, so updated_at is a string on Person and an integer on Company.
        Embeddings are returned as arrays of numbers. A consumer must re-wrap them as vectors on write, or its vector index will not see them and search will silently return nothing.
        404 until the entity's first node write has landed. Write the nodes before the edges. An edge write matches its two endpoints, so running it first drops every edge with no error and no warning, leaving a node set that looks complete and has no relationships.
        Requires scope `subgraph:read`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Entity id. Resolved through the merge chain first.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: |
            Maximum neighbours returned. The anchor is always included and does not count toward it.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: include_embeddings
          in: query
          required: false
          description: |
            Vectors dominate the payload at roughly 107KB per node. A consumer that needs structure only should turn them off; one that intends to search must keep them, since they are generated here once and are never regenerated downstream.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: The entity and its one-hop neighbourhood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubgraphEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/graph/search:
    post:
      operationId: searchGraph
      tags:
        - Projections
      summary: Find graph nodes by meaning
      description: |
        Returns the nodes nearest the query, each with its one-hop edges, in the same node/edge shape as the subgraph projection.
        The counterpart to the subgraph read: that one needs an id you already hold, this one is how you find an id you do not. The query is embedded server-side with the same model that wrote the node vectors — vectors from two models are not comparable, so a consumer cannot supply its own vector.
        score is a DISTANCE: lower is closer, and 0 would be identical. Matched nodes carry it and sort first; a node pulled in by expansion has score null and is_match false. Relevance is cut both absolutely and relative to the best hit, so a query with one good answer returns one node no matter what limit says — limit is an upper bound, not a page size, and there is no pagination.
        Geography, expertise and tombstoned nodes are excluded, as in the subgraph read: both are hubs that connect everyone to everyone.
        A client with entity-type entitlements is narrowed to those types automatically; asking only for types it may not read is a 403, not an empty result. Neighbours are not filtered by entity type — a match's surroundings describe it, and cutting them would misdescribe it.
        Requires scope `graph:search`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphSearchRequest'
      responses:
        '200':
          description: |
            The matched nodes and their one-hop edges. An empty nodes array means nothing was close enough, which is a normal answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphSearchEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/graph/paths:
    post:
      operationId: findGraphPaths
      tags:
        - Projections
      summary: Find how source entities reach a target entity
      description: |
        Returns the best route from each source entity to the target, one path per source that can reach it.
        Ids are entity ids, not graph node uuids: an entity id is what a consumer stores, and it resolves through the merge chain. Every path echoes both the canonical and the requested source id so a stored reference can be healed.
        Fewest hops wins per source; ties and ordering across sources go by total_weight, where LOWER is stronger — the weight scale is a distance, so paths come back strongest first.
        Geography and expertise are excluded from every route: both are hubs that connect everyone to everyone, so a path through one is not a connection anybody can act on. This is policy, not an option.
        A source with no route within max_hops is listed in unreachable_source_entity_ids. One that could not be traversed at all — unknown to Universe, or not yet written to the graph — is listed in skipped_source_entity_ids instead, and never silently dropped. 404 means the TARGET is not in the graph yet.
        Entitlements are checked on the target only. An interior node is part of how two entities connect, not something the response hands over: it carries a name and type, never a property bag.
        Requires scope `graph:paths`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphPathsRequest'
      responses:
        '200':
          description: |
            One path per reachable source, strongest first, plus what could not be reached or traversed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphPathsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/companies/get-add:
    post:
      operationId: getAddCompany
      tags:
        - Enrichment
      summary: Get-or-create a company (the enrichment entry gate)
      description: |
        The only sanctioned company get-or-create path. Resolves the seed through strong identifiers (profile URL, domain), runs the pre-create guards and the LLM research preflight, dedups against the Universe backbone and the fundable mirror, and creates the company with its initial graph node when nothing matches. Every branch returns the shell: guard misses come back 200 with `company_created: false` and null fields — a blocked input is an answer, not an error. A company name alone is never enough: the seed must carry a domain or profile URL. Requires scope `enrich:company`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddCompanyRequest'
      responses:
        '200':
          description: The company shell (found, created, or typed miss).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyShellEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/get-add:
    post:
      operationId: getAddPerson
      tags:
        - Enrichment
      summary: Get-or-create a person (the enrichment entry gate)
      description: |
        The only sanctioned person get-or-create path. Resolves the seed through its identifiers, dedups BEFORE paying for any provider, then runs the identity ladder (People Data Labs → Enrich Layer → Exa) only when nothing matched, and creates the person with an initial graph node. Every branch returns the shell: guard misses come back 200 with `person_created: false` and null fields — a blocked input is an answer, not an error. Requires scope `enrich:person`, which is independent of `enrich:company`. Two response fields need reading before you integrate. `match_via` names the key that resolved an existing person, so a caller can tell a LinkedIn hit from an email one. `fiber_deferred` means identity is still settling in a background run: the person row and node exist, enrichment has NOT been dispatched yet, and it fires automatically once the run lands — so poll the entity rather than re-posting the seed.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddPersonRequest'
      responses:
        '200':
          description: The person shell (found, created, or typed miss).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonShellEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/persona/persons/{id}:
    post:
      operationId: buildPersona
      tags:
        - Persona
      summary: Ask for a person's persona
      description: |
        Asks for the nine-dimension persona of one person: nine narratives, each embedded as its own vector, so people are matched dimension against the same dimension rather than as one averaged profile. Nothing is built by the time this returns. A synthesis runs for tens of seconds, so the work happens in a worker and this call only ever decides what to set in motion. Read `status` to know which: `exists` (200) means a persona built inside the freshness window already covers this person and nothing was started; `building` (202) means the evidence is present and a worker has the job; `queued` (202) means evidence is missing, whatever was absent has been started, and the person waits for it. A persona needs a deep bio and social insights, both of which take minutes to produce. When either is absent this call launches it and parks the person, and `started` names what it launched. Asking again while they wait is safe and cheap: it bumps a counter rather than queueing them twice, and starts nothing that is already running. Requires scope `persona:build`, which is independent of `enrich:person` — a client may be entitled to enrich a person without paying for their persona.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The canonical universe entity id of the person.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildPersonaRequest'
      responses:
        '200':
          description: A persona inside the freshness window already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaBuildEnvelope'
        '202':
          description: A build was started, or the person was queued for one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaBuildEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/companies/{id}/social-insights:
    post:
      operationId: companySocialInsights
      tags:
        - Enrichment
      summary: Generate on-demand social insights for a company
      description: |
        Runs the social-insights synthesis (Grok over six bounded web evidence results) for one company — an on-demand context tool for meeting prep and suggestion flows, deliberately NOT part of the enrichment pipeline. Requires scope `social_media_insights:company`. Results are cached for 5 days: a repeat call inside the window returns the stored insights with `cached: true` and costs no LLM run (pass `force: true` to rebuild anyway). Companies with no distilled about text return `skipped: true` — enrich first.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypass the 5-day cache and rebuild.
      responses:
        '200':
          description: The insights (fresh, cached, or a typed skip).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/{id}/social-insights:
    post:
      operationId: personSocialInsights
      tags:
        - Enrichment
      summary: Generate on-demand social insights for a person
      description: |
        The person twin of the company trigger: a Grok synthesis over six bounded web evidence results, grounded in the person's distilled biography. On-demand context for meeting prep and suggestion flows, deliberately NOT part of the enrichment pipeline. Requires scope `social_media_insights:person` — a client sold company context is not thereby sold context on individuals. Results are cached for 5 days: a repeat call inside the window returns the stored insights with `cached: true` and costs no LLM run (pass `force: true` to rebuild anyway). People with no distilled biography return `skipped: true` — enrich first.
        Returns six outputs. `insights` name a platform and a time anchor; `interests` accumulate across runs rather than being replaced; `profile_urls` carry the evidence that bound them and are the only ones persisted, with everything refused recorded in `held_profile_urls`; `coverage_note` is the only place evidence- coverage commentary appears; `social_media_influence` is null rather than padded when the evidence cannot fill it.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypass the 5-day cache and rebuild.
      responses:
        '200':
          description: The insights (fresh, cached, or a typed skip).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSocialInsightsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/{id}/deep-research:
    post:
      operationId: personDeepResearch
      tags:
        - Enrichment
      summary: Return a person's Deep Bio, or research one (plus social insights) without the full pipeline
      description: |
        For people enriched WITHOUT deep research: returns the stored Deep Bio when a successful run is younger than the freshness window (`DEEP_BIO_FRESHNESS_DAYS`, 90 by default), else launches one under every pipeline guard — confirmed name, something on file to research beyond the name, the daily spend cap, and single-flight (a live job is joined, never duplicated). Social insights chain automatically when the bio lands; a fresh hit that has no insights yet asks for them and reports `social_insights_requested: true`. Requires scope `deep_research:person` — the most expensive call this system makes, sold apart from `enrich:person`. `status` is `fresh` (200, `deep_bio` filled), `skipped` (200, see `skip_reason`, nothing spent), `created` or `already_running` (202). Poll by calling again: the same call returns `fresh` once the bio has landed and distilled. `force: true` re-researches inside the window; the daily cap still applies.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeepResearchRequest'
      responses:
        '200':
          description: A fresh bio, or a typed skip.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepResearchEnvelope'
        '202':
          description: A job was created or is already running; poll by calling again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepResearchEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/callbacks/fullenrich:
    post:
      operationId: fullEnrichCallback
      tags:
        - Enrichment
      summary: Receive a finished FullEnrich profile (provider plane)
      description: |
        **Provider plane, not a consumer surface** — FullEnrich POSTs the profile we asked for. There is no API key and no scope: the caller proves itself with `X-Signature-SHA1`, an HMAC of the raw body keyed with the API key we call FullEnrich with. An unconfigured key denies every request. Documented for operators, not for integration: no consumer may call it, and it reads nothing out of the Universe. Delivery is at-least-once and may arrive more than once for one lookup, so the body is taken as evidence before it is judged. Every signed body is answered 200, including one we cannot parse or attribute — a non-2xx makes FullEnrich redeliver, and redelivery is what once wrote one person's profile onto another. A 500 means we failed to keep the payload and genuinely want it again.
      security:
        - providerSignature: []
      requestBody:
        required: true
        description: FullEnrich's webhook body, kept verbatim.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The delivery was taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/orgs:
    post:
      operationId: filingsEnqueueOrg
      tags:
        - Filings
      summary: Queue a nonprofit for a 990 filing-set run (management plane)
      description: |
        Upserts the org queue row for an EIN. Pass `ein`, or `name` to resolve it through ProPublica Nonprofit Explorer — a single exact-name hit is accepted, anything else is a 400 listing the candidates so the operator picks an EIN explicitly. Re-adding an EIN bumps its count and never narrows its window. Staff only: a WorkOS session with role `admin`, never a consumer API key.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilingsEnqueueOrgRequest'
      responses:
        '202':
          description: Queued (or already queued; `count` says how many times).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsEnqueueOrgEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/orgs/{ein}:
    get:
      operationId: filingsOrgStatus
      tags:
        - Filings
      summary: One nonprofit's queue row, filings, mention census and grant count (management plane)
      security:
        - bearerAuth: []
      parameters:
        - name: ein
          in: path
          required: true
          description: Nine digits, hyphen optional.
          schema:
            type: string
            pattern: ^[0-9]{2}-?[0-9]{7}$
      responses:
        '200':
          description: Status. `meta.attribution` carries the ProPublica attribution their terms ask for.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsOrgStatusEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/drain:
    post:
      operationId: filingsDrain
      tags:
        - Filings
      summary: Run one Stage A pass synchronously (management plane)
      description: |
        Sandbox stepping without the scheduler. With `ein` it runs that org now, whatever its tier or backoff (enqueuing it first if needed); otherwise it claims up to `max_rows` from the queue exactly as a scheduler tick would — and, like the tick, does nothing while `ENRICHMENT_FILINGS_990_QUEUE_DRAIN_ENABLED` is false.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilingsDrainRequest'
      responses:
        '200':
          description: One result per org run this pass.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsDrainEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: The named org's queue row is locked by another worker or dead-lettered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/mentions:
    get:
      operationId: filingsListMentions
      tags:
        - Filings
      summary: List governance mentions in one resolution state (management plane)
      description: |
        The triage read for Stage B: Part VII roster rows by `resolution_state`, newest first, keyset-paged on the row id. `needs_review` is the human queue; `unresolved` is what the sweep will retry; `auto_linked` shows what the ladder decided and how.
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - unresolved
              - auto_linked
              - needs_review
              - rejected
              - not_applicable
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of mentions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsMentionsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/jobs:
    post:
      operationId: donorsRequestJob
      tags:
        - Donors
      summary: Request a Donors job (management plane)
      description: |
        Upserts a typed job: a `grantor_request` carries `ein` and asks the 990 adapter for that foundation's filings; a `recipient_sweep` carries `subject_entity_id` (a tracked School) and re-gates its unresolved lines; a `filing_replay` carries `filing_id` (a parsed filing with a canonical grantor); a `feed_scan` re-reads the whole parsed-filings feed from the beginning (the tick runs it incrementally on its own). The job key is derived from the subject, so a repeat lands on the same row — a repeat of a completed, parked or failed job returns it to pending with its checkpoint reset. Staff only: a WorkOS session with role `admin`, never a consumer API key.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonorsRequestJobRequest'
      responses:
        '202':
          description: The durable job (new, or the existing row with `count` bumped).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsJobEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A filing replay was requested while the 990 adapter is disabled, so the filing cannot be resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
    get:
      operationId: donorsListJobs
      tags:
        - Donors
      summary: List jobs in one state (management plane)
      description: |
        The triage read: jobs by `state`, newest first, keyset-paged on the row id. `parked` shows what each job is waiting for in `outcome` (`awaiting_filings_enabled`, `not_yet_built`, …); `failed` is the dead letter.
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - pending
              - running
              - completed
              - failed
              - parked
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsJobsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/jobs/{id}:
    get:
      operationId: donorsGetJob
      tags:
        - Donors
      summary: One job with its checkpoint, revision and result (management plane)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsJobEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/drain:
    post:
      operationId: donorsDrain
      tags:
        - Donors
      summary: Run one drain pass synchronously (management plane)
      description: |
        Sandbox stepping without the scheduler. With `job_id` it runs that job now, whatever its tier, backoff or parked state; otherwise it claims up to `max_rows` pending jobs exactly as a scheduler tick would. Like the tick, it does nothing while `ENRICHMENT_DONORS_QUEUE_DRAIN_ENABLED` is false (a named job answers 409 instead).
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonorsDrainRequest'
      responses:
        '200':
          description: One entry per job run this pass.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsDrainEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The drain gate is closed, or the named job is locked by another worker, dead-lettered or already completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/mentions:
    get:
      operationId: donorsListMentions
      tags:
        - Donors
      summary: List grant-line mentions in one recipient resolution state (management plane)
      description: |
        The recipient-side triage read: source lines by `recipient_resolution_state`, newest first, keyset-paged on the row id, optionally one grantor's. `needs_review` is the human queue (an exact legal name that nominated an allowlisted School, or an alias a reviewer judged ambiguous); `auto_linked` shows what the gate decided and how; `rejected` is a reviewed distinct entity; `unresolved` waits for new evidence.
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - unresolved
              - auto_linked
              - needs_review
              - rejected
              - anonymous
        - name: donor
          in: query
          description: Narrow to one grantor's lines.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of mentions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsMentionsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/edges:
    get:
      operationId: donorsListEdges
      tags:
        - Donors
      summary: List DONOR_TO ledger rows in one graph state (management plane)
      description: |
        The DONOR_TO ledger: one row per donor → recipient pair, its recomputed aggregate and revision, and whether the graph holds it. `pending` waits on a chosen `donor_to` fact or a node; `written` carries the edge uuid and the revision it was written at; `blocked` names why no weight can be assigned (`donor_class_unsupported` for a 990 filer's Schedule I, `no_eligible_gifts` after a withdrawal, `below_floor`, `bridge_gate_closed` for a trustee-derived row — real and revisioned, never projected until Q1/Q2 settle — and `mixed_routes_unsettled` for a pair holding both a direct gift and a derived route).
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - pending
              - written
              - blocked
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of ledger rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsEdgesEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/edges/{id}:
    get:
      operationId: donorsGetEdge
      tags:
        - Donors
      summary: One DONOR_TO ledger row with every route behind it (management plane)
      description: |
        The row plus its evidence: `direct` routes (the donor gave the gift) and `trustee_derived` routes (the donor sat on the foundation that gave it, in a filing period covering the grant), each with the governance refs the derivation depends on. A derived route that stopped holding is kept with `valid: false` and the check that failed — `person_unresolved`, `not_board_seat`, `trustee_former`, `period_not_covered`, `fact_not_chosen`, `canonical_edge_unwritten`, `gift_ineligible`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The row and its evidence.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DonorsEdgeDetail'
                  error:
                    type: 'null'
                  meta:
                    type:
                      - object
                      - 'null'
                required:
                  - data
                  - error
                  - meta
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/edge-sweep:
    post:
      operationId: donorsEdgeSweep
      tags:
        - Donors
      summary: Run one bounded DONOR_TO reconciliation pass (management plane)
      description: |
        Draws every pending ledger row the graph does not hold at its current revision, when it may: the donor's `donor_to` fact is CHOSEN for the recipient and both endpoints have nodes. Anything else stays pending. Like the worker's sweep, it does nothing while `ENRICHMENT_DONORS_EDGE_WRITES_ENABLED` is false.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 200
      responses:
        '200':
          description: What the pass did.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - written
                      - pending
                      - skipped
                    properties:
                      written:
                        type: integer
                      pending:
                        type: integer
                        description: No chosen fact yet, or a node missing.
                      skipped:
                        type: integer
                        description: The aggregate moved under the write; the row stays pending.
                  error:
                    type: 'null'
                  meta:
                    type:
                      - object
                      - 'null'
                required:
                  - data
                  - error
                  - meta
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/seed/locations:
    post:
      operationId: seedGraphLocations
      tags:
        - Graph
      summary: Run one bounded batch of geography node creation
      description: |
        Operator-only. `kind=country` MERGEs `Country:Entity` nodes; `kind=region` MERGEs `Region:Entity` nodes plus their `IN_COUNTRY` edge; `kind=city` MERGEs `City:Entity` nodes plus `IN_REGION` (or `IN_COUNTRY` for region-less cities). Rows whose parent node is missing are held back (`awaiting_parent`) and picked up on a later run — seed countries, then regions, then cities, re-running each while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - country
                    - region
                    - city
                limit:
                  type: integer
                  description: Rows per batch (default 15, max 100).
              required:
                - kind
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/seed/expertise:
    post:
      operationId: seedGraphExpertise
      tags:
        - Graph
      summary: Run one bounded batch of expertise taxonomy node creation
      description: |
        Operator-only. `kind=domain` creates `DomainExpertise:Entity` nodes; `kind=subdomain` creates `SubDomainExpertise:Entity` nodes plus `HAS_SUBDOMAIN` edges. Subdomains whose parent domain has no node yet are held back (reported as `awaiting_parent`) and picked up on a later run. Seed domains to exhaustion before subdomains. Re-run while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - domain
                    - subdomain
                limit:
                  type: integer
                  description: Rows per batch (default 15, max 100).
              required:
                - kind
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/indexes/ensure:
    post:
      operationId: ensureGraphVectorIndexes
      tags:
        - Graph
      summary: Create the graph's vector indexes when absent
      description: |
        Operator-only, idempotent. Creates the Entity vector indexes (`embeddings` for consumer search, `expert_embeddings` for the SPECIALIZES_IN rebuild) at the embedder's width with cosine similarity. An index the graph already holds is left alone, never dropped and rebuilt.
        Needed because FalkorDB errors rather than falling back to a scan when a queried vector index is missing, so a graph without them fails every vector read. The API also runs this at boot; this route is how a graph created later, or one whose index was dropped, is repaired without a redeploy.
        Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: One entry per index, with created=false when it was already there.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - error
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - label
                        - property
                        - dimensions
                        - created
                      properties:
                        label:
                          type: string
                          example: Entity
                        property:
                          type: string
                          example: embeddings
                        dimensions:
                          type: integer
                          example: 1536
                        created:
                          type: boolean
                  error:
                    type: 'null'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/wipe:
    post:
      operationId: wipeGraph
      tags:
        - Graph
      summary: Wipe enrichment-created graph nodes and/or table rows
      description: |
        Operator-only, DESTRUCTIVE. `target` selects what dies — `nodes` (default): one bounded batch of nodes whose labels are outside the reference keep-set (Country, Region, City, DomainExpertise, SubDomainExpertise) — or, with `entity_type`, only that scope's labels (company = Company + Funding_Round; person = Person + its credential nodes Work, Certification, Honor; film_tv = Film_TV + Film_TV_Award; music = Music_Group, Release_Group, Recording, Music_Work, Event plus the Release and Place support nodes; company and person also take the InvestmentThesis nodes their investors own, selected through the HAS_INVESTMENT_THESIS edge because the thesis label is shared) — plus the write-back ledgers nulled (entities graph_node_uuid / graph_written_at, entity_addresses graph_written_at, funding_rounds graph_node_uuid / raised_edge_uuid) so replay rebuilds them; round caveat: with rows kept, cleared round uuids require a table-side reset before deals reprocess or duplicates land. `tables`: one-transaction delete of enrichment-written ROWS — theses, typed caches, entities and every ON DELETE CASCADE dependent (identifiers, facts, payloads, attempts, queue, satellites, dates, rounds, profiles) — plus fundables.deals.processed_at reset so the fanout re-materializes rounds (mirror data itself untouched); no graph calls. `all`: tables first, then a node batch. Seeded reference rows and nodes always survive. Do not run while enrichment/queue drain is active. Requires `confirm: true`; re-run while `has_more` is true (node batches; table wipes are one-shot). Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm:
                  type: boolean
                  const: true
                  description: Must be true — guards against stray POSTs.
                limit:
                  type: integer
                  description: |
                    Nodes per batch (default 1000, max 10000). CLAMPED, not rejected: a value at or below zero becomes the default and one above the max becomes the max, so no limit is ever a validation failure.
                entity_type:
                  type: string
                  enum:
                    - company
                    - person
                    - film_tv
                    - music
                    - stage_production
                  description: |
                    Optional scope; omit to wipe every non-reference node. `music` is the one umbrella — it covers all five music entity types (music_group, music_release_group, music_recording, music_work, music_event) plus the music_release / music_place support rows and the artist / label satellite profiles, because they are one pipeline.
                target:
                  type: string
                  enum:
                    - nodes
                    - tables
                    - all
                  description: |
                    What dies; OPTIONAL, and omitted means `nodes`. Unlike `/graph/purge-entity`, where a target is required: that call names one live row, this one is scoped and batched.
              required:
                - confirm
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeResultEnvelope'
        '400':
          description: |
            The body failed validation. `error.details` lists EVERY failing field in one response, keyed by the JSON name you sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                data: null
                error:
                  code: VALIDATION_FAILED
                  message: validation failed
                  details:
                    - field: confirm
                      issue: required
                    - field: entity_type
                      issue: oneof
                meta:
                  requestId: 6f1c2f7e-2b21-4a0b-9c3a-9a1f2d3e4b55
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/falkordb:
    get:
      operationId: listFalkorDBInstances
      tags:
        - Graph
      summary: List graph connection-config rows
      description: |
        Operator-only. Returns every falkordb.falkordb row, newest first. The OLDEST row is the one read at boot to build the graph client. Credentials are included by design. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All connection-config rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
    post:
      operationId: createFalkorDBInstance
      tags:
        - Graph
      summary: Create a graph connection-config row
      description: |
        Operator-only. Inserts a falkordb.falkordb row; the config is read at boot, so it takes effect on the next process start. db_connection or host is required. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                graph_name:
                  type: string
                user_name:
                  type: string
                password:
                  type: string
                host:
                  type: string
                port:
                  type: string
                db_connection:
                  type: string
                  description: |
                    Full endpoint (redis:// / falkors:// URL or host:port); used verbatim when set.
      responses:
        '201':
          description: The created row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/falkordb/{id}:
    delete:
      operationId: deleteFalkorDBInstance
      tags:
        - Graph
      summary: Delete a graph connection-config row
      description: |
        Operator-only. Removes a falkordb.falkordb row; effective on the next process start. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Deleted (data is null).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/entities/reviews/{id}/merge:
    post:
      operationId: mergeReviewItem
      tags:
        - Admin
      summary: Merge the pair a review filing names (management plane)
      description: |
        A human's half of the merge project: confirms a pending filing and runs the same merge transaction a strong-key clash runs — repoint every reference through the merge inventory, tombstone the loser with `merged_into`, ledger the manifest for undo, delete the loser's graph node — then announces `entity.merged` so sibling features re-derive what moved (a stage production re-lands its profile and redraws its credits under the survivor). The survivor defaults to the filing's proposed survivor; a `survivor_id` must be one of the two parties. A filing already decided answers 409. **Management plane, staff only** — an authenticated admin USER, never a consumer key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                survivor_id:
                  type:
                    - string
                    - 'null'
                  format: uuid
                  description: Overrides the proposed survivor; must be a party to the filing.
                note:
                  type:
                    - string
                    - 'null'
                  maxLength: 2000
      responses:
        '200':
          description: The merge as ledgered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewMergeEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/entities/reviews/{id}/reject:
    post:
      operationId: rejectReviewItem
      tags:
        - Admin
      summary: Close a review filing as rejected (management plane)
      description: |
        The pair stays two entities and the filing is closed with the reviewer's note. **Management plane, staff only.**
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type:
                    - string
                    - 'null'
                  maxLength: 2000
      responses:
        '200':
          description: The filing as closed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      review_item_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                          - rejected
                    required:
                      - review_item_id
                      - status
                  error:
                    type: 'null'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - error
                  - meta
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients:
    post:
      operationId: createConsumerClient
      tags:
        - Admin
      summary: Register a consumer client
      description: |
        Management plane, never part of the consumer data contract. Registers a client with its entitlement scopes; issue a key next via `POST /v1/admin/clients/{id}/keys`. Requires an authenticated admin USER (WorkOS session bearer token, role `admin`) — consumer API keys are always rejected here. Until the auth feature lands the verifier is nil and every deployed environment denies all requests.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique display name for the client org.
                scopes:
                  type: array
                  items:
                    type: string
                  description: |
                    Entitlement scopes — data plane only (read:entity, read:person, read:company, read:film_tv, projections:pull, subgraph:read, graph:search, graph:paths, investor_narrative:read, corrections:propose, enrich:company, enrich:person, enrich:film_tv, social_media_insights:company, social_media_insights:person, deep_research:person). Unknown scopes are rejected; management actions are role-guarded and have no scope.
                entitlements:
                  type: object
                  description: |
                    Optional entity-level filter for partial-data deals, e.g. {"entity_types": ["person"]}. Empty = full access within scopes.
                contact_email:
                  type:
                    - string
                    - 'null'
              required:
                - name
      responses:
        '201':
          description: The registered client (no key material).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerClientEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A client with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients/{id}/keys:
    post:
      operationId: issueConsumerClientKey
      tags:
        - Admin
      summary: Issue an API key for a client
      description: |
        Management plane. Mints a raw API key, stores only its SHA-256 hash, and returns the raw key ONCE — it cannot be retrieved again, only revoked and replaced. Multiple active keys per client enable zero-downtime rotation: issue new, deploy, revoke old. Requires an authenticated admin user (role `admin`), never a consumer API key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type:
                    - string
                    - 'null'
                  description: Ops label, e.g. "initial key 2026-07".
                expires_at:
                  type:
                    - string
                    - 'null'
                  format: date-time
                  description: Optional expiry; must be in the future.
      responses:
        '201':
          description: The issued key, raw secret included this once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedKeyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/keys/{id}/revoke:
    post:
      operationId: revokeConsumerClientKey
      tags:
        - Admin
      summary: Revoke an API key
      description: |
        Management plane. Soft-revokes one key (the row survives for audit); other keys on the same client keep working. Requires an authenticated admin user (role `admin`), never a consumer API key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Revoked (data is null).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/persons/social-insights/backfill:
    post:
      operationId: backfillPersonSocialInsights
      tags:
        - Enrichment
      summary: Request social insights for persons whose Deep Bio never chained one (management plane)
      description: |
        A Deep Bio landing now chains a forced social-insights rebuild. Persons researched before that chain existed hold a distilled Deep Bio and no insights; this publishes one forced request per such person. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key, because each request is a paid LLM build (~90s) plus two web searches. One bounded batch per call. Requests are asynchronous, so a person leaves the backlog only once the build lands; calling again inside that window asks for the same people again. A person whose build failed in the last day is skipped so one bad subject is not re-bought on every call. `remaining` is true when the batch filled — call again until it is false.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Persons to request in this batch. Omitted uses the server default (25); values above the server ceiling (200) are clamped.
          schema:
            type: integer
            minimum: 1
        - name: dry_run
          in: query
          required: false
          description: When `true`, counts the backlog and publishes nothing.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The batch result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsBackfillEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/persons/social-insights/persist:
    post:
      operationId: persistPersonSocialInsights
      tags:
        - Enrichment
      summary: Decode stored social-insights payloads into the person_social_insights rows (management plane)
      description: |
        Closes the gap for insights runs that landed before the satellite table existed: for every person whose latest `social_insights` payload has no row, the payload is decoded into one. No LLM call and no provider spend; `model` stays null because the envelope never carried it. **Management plane, staff only** — a WorkOS session with role `admin`. One bounded batch per call; `remaining` is true when the batch filled.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Persons to persist in this batch. Omitted uses the server default (25); values above the server ceiling (200) are clamped.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: The batch result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsPersistEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/agents/deep-bio/sweep:
    post:
      operationId: sweepDeepBioJobs
      tags:
        - Agents
      summary: Re-drive Deep Bio jobs that stopped without settling (management plane)
      description: |
        Picks the research jobs that stalled and asks a worker to run each again. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key. There is no scope that grants this, because a swept job can spend provider credit. Three kinds of row are picked: a `pending` job whose run request was lost, an `error` job whose retry is due, and a `running` job whose lease expired because its worker died. Jobs out of attempts are never picked, so a doomed job stops being swept rather than looping. The case this exists for is a job RELEASED after its envelope landed: it holds a paid, valid payload that nothing else will ever normalize. Sweeping that job usually costs NOTHING, because the runner resumes from the stored envelope instead of re-buying the research. It only REQUESTS runs — it never creates a job, so it cannot spend outside the launch guards (freshness window and daily cap). One bounded batch per call, so an operator watches the counts rather than starting an unbounded drain. A full batch is not a cleared backlog: call again until `picked` is zero.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Jobs to request in this batch. Omitted uses the server default (5, matching the cron's batch size).
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: |
            What the sweep asked for. `picked` is what the query returned and `requested` is what was published; a gap means the topic refused and those rows stay picked for the next sweep.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepBioSweepEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/agents/deep-bio/persons/{id}/force:
    post:
      operationId: forceDeepBio
      tags:
        - Agents
      summary: Research one person's Deep Bio again (management plane)
      description: |
        Creates a research job even when the person already has a recent successful one, bypassing the freshness window. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key. There is no scope that grants this: one call buys minutes of web research and tens of thousands of output tokens. The daily spend cap STILL APPLIES. Forcing is for re-running one person, never for getting past the ceiling — a refusal by the cap returns 200 with `outcome: skipped` and a null `job_id`, because nothing went wrong, the answer is no. Single-flight still applies too: a person with a live job gets that job's id back rather than a second one. `requested` is false when the job exists but no worker was asked (the run request failed) — the sweep above collects it.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The person entity's canonical id.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: |
            The job the request resolved to, and what the guards decided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepBioForceEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Consumer API key issued by the consumers registry.
    providerSignature:
      type: apiKey
      in: header
      name: X-Signature-SHA1
      description: |
        Provider callback plane. Hex-lowercase HMAC-SHA1 of the raw request body, keyed with the API key we call that provider with — so the provider holds no consumer identity and no second secret exists. Verified against the bytes as sent; a re-serialized body has a different digest.
  schemas:
    Meta:
      type: object
      properties:
        requestId:
          type: string
      required:
        - requestId
    Error:
      type: object
      properties:
        code:
          type: string
          description: Upper-snake error kind (VALIDATION_FAILED, NOT_FOUND, ...).
        message:
          type: string
        details:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
      required:
        - code
        - message
    ErrorEnvelope:
      type: object
      properties:
        data:
          type: 'null'
        error:
          $ref: '#/components/schemas/Error'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    EmptyEnvelope:
      type: object
      properties:
        data:
          type: 'null'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    Entity:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The canonical (living) entity id. Persist this one.
        requested_id:
          type: string
          format: uuid
          description: The id the caller asked for; differs after a merge.
        entity_type:
          type: string
        display_name:
          type:
            - string
            - 'null'
      required:
        - id
        - requested_id
        - entity_type
        - display_name
    EntityEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Entity'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    ProjectionCompany:
      type: object
      description: The company record. Maps to the consumer's companies table.
      properties:
        name:
          type:
            - string
            - 'null'
        aliases:
          type: array
          items:
            type: string
          description: |
            Every known alias. A consumer storing a single alias takes the first — Universe does not drop the rest at the boundary.
        legal_name:
          type:
            - string
            - 'null'
        logo:
          type:
            - string
            - 'null'
        logo_storage_key:
          type:
            - string
            - 'null'
          description: The object key behind `logo`, when Universe re-hosts it.
        domain:
          type:
            - string
            - 'null'
        alternative_domains:
          type: array
          items:
            type: string
        linkedin_url:
          type:
            - string
            - 'null'
        tagline:
          type:
            - string
            - 'null'
        long_description:
          type:
            - string
            - 'null'
          description: The long-form about text.
        short_description:
          type:
            - string
            - 'null'
          description: The clamped short about text.
        social_insights:
          type: array
          items:
            type: string
          description: Always empty today — insights are not distilled yet.
        founded:
          type:
            - integer
            - 'null'
        is_school:
          type: boolean
        is_vc:
          type: boolean
        employee_range:
          type:
            - string
            - 'null'
        employees_citation:
          type:
            - string
            - 'null'
          description: One sentence naming what was read and the value shown.
        employees_citation_url:
          type:
            - string
            - 'null'
          description: The exact page the range was read from.
        last_enriched:
          type:
            - string
            - 'null'
          format: date-time
        enrichment_status:
          type: string
          enum:
            - seeded
            - enriching
            - complete
            - failed
            - disputed
          description: |
            Where this record is in its lifecycle. `disputed` is distinct from `failed` on purpose: enrichment ran and most of the record is likely correct, but a provider resolved an IDENTITY that contradicts the name we hold, so we no longer know for certain who this record is. Hold a disputed record — do not merge, publish onward, or act on its identity — and tell us: it is frozen on our side until a human reconciles it, and nothing re-enriches it in the meantime. `failed` means enrichment did not produce a usable result at all.
      required:
        - name
        - aliases
        - legal_name
        - logo
        - logo_storage_key
        - domain
        - alternative_domains
        - linkedin_url
        - tagline
        - long_description
        - short_description
        - social_insights
        - founded
        - is_school
        - is_vc
        - employee_range
        - employees_citation
        - employees_citation_url
        - last_enriched
        - enrichment_status
    ProjectionMoney:
      type: object
      description: |
        An amount as the source reported it. value_usd is only ever the source's own USD figure — Universe never converts currencies, so a non-USD amount may carry a null value_usd.
      properties:
        value:
          type:
            - number
            - 'null'
        currency:
          type:
            - string
            - 'null'
        value_usd:
          type:
            - number
            - 'null'
        citation:
          type:
            - string
            - 'null'
        citation_url:
          type:
            - string
            - 'null'
      required:
        - value
        - currency
        - value_usd
    ProjectionFinancials:
      type: object
      description: |
        Maps to the consumer's company_financials table. The fields marked "no source yet" are always null today and are present so the shape does not change when a producer lands.
      properties:
        company_type:
          type:
            - string
            - 'null'
        yc_batch:
          type:
            - string
            - 'null'
        is_public:
          type: boolean
        went_public_on:
          type:
            - string
            - 'null'
          description: ISO date (YYYY-MM-DD).
        ticker:
          type:
            - string
            - 'null'
        primary_exchange:
          type:
            - string
            - 'null'
        stock_link:
          type:
            - string
            - 'null'
        funding_summary:
          type:
            - string
            - 'null'
        funding_total_value_usd:
          type:
            - integer
            - 'null'
        funding_total_currency:
          type:
            - string
            - 'null'
        total_rounds_raised:
          type:
            - integer
            - 'null'
        revenue:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        acquired:
          type: boolean
        acquired_by:
          type:
            - string
            - 'null'
        stock_label:
          type:
            - string
            - 'null'
          description: No source yet — always null.
        acquired_by_permalink:
          type:
            - string
            - 'null'
          description: No source yet — always null.
        crunchbase_acquirer_id:
          type:
            - string
            - 'null'
          description: No source yet — always null.
        acquirer_company_id:
          type:
            - string
            - 'null'
          format: uuid
          description: No source yet — always null. Would be a universe entity id.
        acquisition_price:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        operating_status:
          type:
            - string
            - 'null'
          description: Distilled from the funding-data mirror (e.g. active, closed).
        ipo_status:
          type:
            - string
            - 'null'
          description: Distilled from the funding-data mirror (e.g. private, public).
      required:
        - company_type
        - yc_batch
        - is_public
        - went_public_on
        - ticker
        - primary_exchange
        - stock_link
        - funding_summary
        - funding_total_value_usd
        - funding_total_currency
        - total_rounds_raised
        - revenue
        - acquired
        - acquired_by
        - stock_label
        - acquired_by_permalink
        - crunchbase_acquirer_id
        - acquirer_company_id
        - acquisition_price
        - operating_status
        - ipo_status
    ProjectionCompanyInvestment:
      type: object
      description: |
        One round the firm invested in. Same rules as ProjectionPersonInvestment without the firm columns: funding_round_id and company_id are null until Universe holds the round or company, external_deal_id always rides, money_raised is the absolute amount shape of companies.funding_rounds, company_logo is Universe's re-hosted logo when held, else the source's.
      properties:
        funding_round_id:
          type:
            - string
            - 'null'
          format: uuid
        external_deal_id:
          type:
            - string
            - 'null'
        funding_type:
          type:
            - string
            - 'null'
        money_raised:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        announced_date:
          type:
            - string
            - 'null'
          format: date
        description:
          type:
            - string
            - 'null'
        is_lead_investor:
          type: boolean
        company_id:
          type:
            - string
            - 'null'
          format: uuid
        company_name:
          type: string
        company_logo:
          type:
            - string
            - 'null'
        acquired:
          type: boolean
        ipo_status:
          type:
            - string
            - 'null'
      required:
        - funding_round_id
        - external_deal_id
        - funding_type
        - money_raised
        - announced_date
        - description
        - is_lead_investor
        - company_id
        - company_name
        - company_logo
        - acquired
        - ipo_status
    ProjectionInvestorProfile:
      type: object
      description: |
        Always present. A company with no investor profile gets null FIELDS, never a null object, so the consumer's upsert is unconditional. Maps to investor_company_profile.
      properties:
        exits:
          type:
            - string
            - 'null'
        investment_range:
          type:
            - string
            - 'null'
        investment_sweet_spot:
          type:
            - string
            - 'null'
        investment_stages:
          type:
            - string
            - 'null'
        investments:
          type:
            - string
            - 'null'
          description: Portfolio company names, comma separated, newest deal first.
        llm_investor_summary:
          type:
            - string
            - 'null'
          description: The firm's declared investment thesis, one paragraph.
        active_in_sector:
          type:
            - string
            - 'null'
          description: Sectors the firm invests in, comma separated.
        derived_thesis_summary:
          type:
            - string
            - 'null'
        portfolio_investments:
          type: array
          description: Rounds the firm invested in, newest first, at most 50. Exits are excluded.
          items:
            $ref: '#/components/schemas/ProjectionCompanyInvestment'
        portfolio_exits:
          type: array
          description: |
            DERIVED, not stored: rounds whose company was acquired or went public. Newest first, at most 50.
          items:
            $ref: '#/components/schemas/ProjectionCompanyInvestment'
      required:
        - exits
        - investment_range
        - investment_sweet_spot
        - investment_stages
        - investments
        - llm_investor_summary
        - active_in_sector
        - derived_thesis_summary
        - portfolio_investments
        - portfolio_exits
    ProjectionBanner:
      type: object
      properties:
        url:
          type: string
        storage_key:
          type:
            - string
            - 'null'
          description: |
            The object key behind `url`, present only for media Universe re-hosts. A stable name for the object independent of the host it is served from.
        source_url:
          type:
            - string
            - 'null'
        is_main:
          type: boolean
        is_placeholder:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - url
        - storage_key
        - source_url
        - is_main
        - is_placeholder
        - source
    ProjectionFounder:
      type: object
      description: |
        A founder of the company. Maps to the consumer's owners table. Populated once the person pipeline has enriched the founder and written the FOUNDED edge; empty for a company whose people are still queued.
      properties:
        person_id:
          type: string
          format: uuid
          description: |
            The universe entity id, which is also the graph node uuid and the id the consumer stores for that person.
        name:
          type:
            - string
            - 'null'
        founded_edge_uuid:
          type:
            - string
            - 'null'
          description: |
            The graph FOUNDED edge uuid for this person→company pair. A non-null value IS the founder predicate — the consumer never re-derives founder-ness from the title text.
      required:
        - person_id
        - name
        - founded_edge_uuid
    ProjectionInvestor:
      type: object
      properties:
        id:
          type: string
          format: uuid
        investor_id:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            The investor's universe entity id, or null when unresolved. Use kind to decide whether it names a person or a company.
        kind:
          type: string
          description: |
            The investor entity type (person or company). Empty string when investor_id is null — the row is anchored on the reported name alone and a later resolution pass may fill both.
        investor_name:
          type:
            - string
            - 'null'
        is_lead_investor:
          type: boolean
        graph_edge_uuid:
          type:
            - string
            - 'null'
          description: |
            The INVESTED_IN edge. Null whenever investor_id is null: a name-anchored row has no target entity, so no edge was written.
      required:
        - id
        - investor_id
        - kind
        - investor_name
        - is_lead_investor
        - graph_edge_uuid
    ProjectionPartner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        investor_id:
          type: string
          format: uuid
          description: The investors[] row this partner acted for.
        person_id:
          type:
            - string
            - 'null'
          format: uuid
        name:
          type:
            - string
            - 'null'
      required:
        - id
        - investor_id
        - person_id
        - name
    ProjectionRound:
      type: object
      description: |
        One funding round with its investors nested, mirroring the consumer's foreign keys. Provisional LLM-derived rounds are never included — every round here is source-confirmed.
      properties:
        id:
          type: string
          format: uuid
        round_permalink:
          type:
            - string
            - 'null'
        funding_type:
          type:
            - string
            - 'null'
        money_raised:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        announced_date:
          type:
            - string
            - 'null'
          description: ISO date (YYYY-MM-DD).
        data_source:
          type: string
          description: Evidence source that recorded the round.
        description:
          type:
            - string
            - 'null'
        long_description:
          type:
            - string
            - 'null'
        external_deal_id:
          type:
            - string
            - 'null'
          description: The source's own deal id; null on LLM-derived rounds.
        canonical_deal_id:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            Rows sharing this id are the same financing seen through different sources. Not unique.
        extension:
          type: boolean
        pre:
          type: boolean
        graph_node_id:
          type:
            - string
            - 'null'
        num_investors:
          type:
            - integer
            - 'null'
        investors:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionInvestor'
          description: Always empty today — no investor writer yet.
        partners:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionPartner'
          description: |
            A SIBLING of investors, not nested inside it. Each partner carries investor_id. Always empty today — no writer yet.
      required:
        - id
        - round_permalink
        - funding_type
        - money_raised
        - announced_date
        - data_source
        - description
        - long_description
        - external_deal_id
        - canonical_deal_id
        - extension
        - pre
        - graph_node_id
        - num_investors
        - investors
        - partners
    ProjectionLink:
      type: object
      properties:
        type:
          type: string
          description: Link kind — the registrable domain label (e.g. linkedin.com), or website/profile.
        url:
          type: string
        social_profile:
          type: boolean
      required:
        - type
        - url
        - social_profile
    ProjectionEmail:
      type: object
      description: |
        One contact email. No id — the lowercased address is the dedup key, so the value addresses the row.
      properties:
        address:
          type: string
        type:
          type: string
          description: Growing vocabulary (work, personal, ...); do not switch exhaustively on it.
        verified:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - address
        - type
        - verified
        - source
    ProjectionPhone:
      type: object
      description: |
        One contact phone. number is the E.164 value and the dedup key, so this row carries no id either.
      properties:
        number:
          type: string
        country_calling_code:
          type:
            - string
            - 'null'
        extension:
          type:
            - integer
            - 'null'
        type:
          type: string
          description: Growing vocabulary (work, mobile, ...); do not switch exhaustively on it.
        verified:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - number
        - country_calling_code
        - extension
        - type
        - verified
        - source
    ProjectionAddress:
      type: object
      description: |
        One geocoded address. The full-detail sibling of primary_location, which stays as the one-line city/region/country answer. Carries an id because a coarse row is upgraded IN PLACE under the same id when a finer address for the same place arrives — follow the id rather than inserting a second row.
      properties:
        id:
          type: string
          format: uuid
        label:
          type:
            - string
            - 'null'
          description: HQ, Office, Location — the role of this address, not a vocabulary to switch on.
        formatted_address:
          type:
            - string
            - 'null'
        address_line1:
          type:
            - string
            - 'null'
        address_line2:
          type:
            - string
            - 'null'
        unit:
          type:
            - string
            - 'null'
        number:
          type:
            - string
            - 'null'
        postal_code:
          type:
            - string
            - 'null'
        city:
          type:
            - string
            - 'null'
        region:
          type:
            - string
            - 'null'
        region_code:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
        country_code:
          type:
            - string
            - 'null'
        latitude:
          type:
[...]
