openapi: 3.1.0
info:
  title: Orbiter Universe API
  version: 0.1.0
  description: |
    The consumer-facing contract of the Orbiter Universe backend. Every caller is a registered client (the Orbiter App backend, self-hosted App backends, tooling) authenticating with an API key. Every response carries the canonical entity id — a merged id resolves through the merge chain and the response echoes the requested id.
servers:
  - url: https://universe.orbiter.io
security:
  - bearerAuth: []
tags:
  - name: Entities
    description: Canonical entity reads and identifier resolution.
  - name: Enrichment
    description: |
      Data-plane enrichment triggers: the company get-or-create entry gate (scope enrich:company) and the person one (enrich:person). The two scopes are independent.
  - name: Projections
    description: |
      Versioned packages consumers read and upsert from. Row-derived projections carry an entity's attributes; the graph-derived subgraph projection carries its relationships, including edge types that have no backing row. Graph search finds ids a consumer does not yet hold; graph paths says how two entities connect.
  - name: Persona
    description: |
      Data-plane persona work: the persona build trigger (scope persona:build), synthetic archetype builds (synthetic_personas:build), person-to-person and archetype-to-person compares (personas:compare), and leverage loops (leverage_loops:run). The four scopes are independent. Builds and loops run in a worker, so their triggers answer 202 with what they set in motion (200 when a fresh persona already exists); compares and GET reads return results.
  - name: Graph
    description: |
      Operator-only graph seeding and FalkorDB ops. Staff only (WorkOS role `admin`); no scope grants this. Not part of the consumer contract — self-hosted clients never call these.
  - name: Admin
    description: |
      Management plane: client registry, scope replacement, API-key lifecycle and entity merge review. Staff only (WorkOS role `admin`); no scope grants this. Not part of the consumer contract — self-hosted clients never call these.
  - name: Agents
    description: |
      Management plane for the agentic enrichment tier: re-drive stalled Deep Bio jobs, or research one person again on purpose. Staff-only (WorkOS role admin, no scope grants them) because each call can spend provider credit. Not part of the consumer contract — an agent's output leaves through the publish projections like any other fact.
paths:
  /v1/entities/{id}:
    get:
      operationId: getEntity
      tags:
        - Entities
      summary: Get the canonical entity for an id
      description: |
        Resolves the id through the merge chain (merged_into) and returns the living canonical row. The response id may differ from the requested id — consumers must overwrite stored references with the returned id. Requires scope `read:entity`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The canonical entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/entities/{id}/projection:
    get:
      operationId: getEntityProjection
      tags:
        - Projections
      summary: Get the versioned projection for a company, person, stage production or video game
      description: |
        Returns `company_projection.v1`, `person_projection.v1`, `stage_production_projection.v1` or `video_game_projection.v1` depending on the entity type — the versioned envelope consumers apply idempotently to their own storage. Check `schema_version` to tell them apart. The id resolves through the merge chain first; the `universe_*_uuid` in the body is always the canonical id, and it is also the graph node id. `run_id` is deterministic per (entity, source state): re-pulling unchanged data yields the same run_id, so consumer re-applies are natural no-ops. Returns 404 until a company has been distilled, and — for a person — until enrichment has completed SUCCESSFULLY: a person whose run is still pending or settled-failed is deliberately not emitted. A stage production answers 404 until its profile is distilled, and in a deployment whose `STAGE_PUBLISH_ENABLED` gate is closed. A video game (including a legacy `film_tv` row the game waterfall owns) answers 404 until its publication is promoted; the body served is the one frozen at promotion, so a refresh in flight never leaks. Requires scope `projections:pull`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The projection package.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CompanyProjectionEnvelope'
                  - $ref: '#/components/schemas/PersonProjectionEnvelope'
                  - $ref: '#/components/schemas/StageProductionProjectionEnvelope'
                  - $ref: '#/components/schemas/VideoGameProjectionEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/entities/{id}/subgraph:
    get:
      operationId: getEntitySubgraph
      tags:
        - Projections
      summary: Get an entity and its directly connected neighbours from the graph
      description: |
        Returns the entity plus everything one hop away, as nodes and edges copied verbatim from the graph, for a consumer to write into its own graph unchanged.
        This projection is derived from the graph, not from Postgres rows. The row-derived projections carry only what has rows; several edge types have none, FOUNDED among them, so a consumer that rebuilds relationships from those loses them with no error.
        Geography and expertise are excluded by default; include_reference_nodes opts into these direct neighbors for answer context. Tombstoned nodes are always excluded. A node reached by several edges is returned once.
        Only edges incident to the anchor are returned. An edge between two neighbours belongs to their own neighbourhoods.
        Node and edge properties are returned verbatim and are deliberately untyped: the same key carries different types across labels, so updated_at is a string on Person and an integer on Company.
        Embeddings are returned as arrays of numbers. A consumer must re-wrap them as vectors on write, or its vector index will not see them and search will silently return nothing.
        404 until the entity's first node write has landed. Write the nodes before the edges. An edge write matches its two endpoints, so running it first drops every edge with no error and no warning, leaving a node set that looks complete and has no relationships.
        Requires scope `subgraph:read`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Entity id. Resolved through the merge chain first.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: |
            Maximum neighbours returned. The anchor is always included and does not count toward it.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: include_embeddings
          in: query
          required: false
          description: |
            Vectors dominate the payload at roughly 107KB per node. A consumer that needs structure only should turn them off; one that intends to search must keep them, since they are generated here once and are never regenerated downstream.
          schema:
            type: boolean
            default: true
        - name: include_reference_nodes
          in: query
          description: Include direct geography and expertise neighbors for answer context. Defaults to false for graph-copy consumers.
          schema:
            type: boolean
            default: false
        - name: paginate
          in: query
          description: Use bounded pages ordered by neighbor UUID. Follow next_cursor until absent.
          schema:
            type: boolean
            default: false
        - name: after
          in: query
          description: Previous next_cursor. Requires paginate=true; omit for the first page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The entity and its one-hop neighbourhood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubgraphEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/graph/search:
    post:
      operationId: searchGraph
      tags:
        - Projections
      summary: Find graph nodes by meaning
      description: |
        Returns the nodes nearest the query, each with its one-hop edges, in the same node/edge shape as the subgraph projection.
        The counterpart to the subgraph read: that one needs an id you already hold, this one is how you find an id you do not. The query is embedded server-side with the same model that wrote the node vectors — vectors from two models are not comparable, so a consumer cannot supply its own vector.
        score is a DISTANCE: lower is closer, and 0 would be identical. Matched nodes carry it and sort first; a node pulled in by expansion has score null and is_match false. Relevance is cut both absolutely and relative to the best hit, so a query with one good answer returns one node no matter what limit says — limit is an upper bound, not a page size, and there is no pagination.
        Geography and expertise are excluded by default. Set include_reference_nodes to include these direct neighbors as answer context. Tombstoned nodes are always excluded.
        A client with entity-type entitlements is narrowed to those types automatically; asking only for types it may not read is a 403, not an empty result. Neighbours are not filtered by entity type — a match's surroundings describe it, and cutting them would misdescribe it.
        Requires scope `graph:search`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphSearchRequest'
      responses:
        '200':
          description: |
            The matched nodes and their one-hop edges. An empty nodes array means nothing was close enough, which is a normal answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphSearchEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/graph/paths:
    post:
      operationId: findGraphPaths
      tags:
        - Projections
      summary: Find how source entities reach a target entity
      description: |
        Returns the best route from each source entity to the target, one path per source that can reach it.
        Ids are entity ids, not graph node uuids: an entity id is what a consumer stores, and it resolves through the merge chain. Every path echoes both the canonical and the requested source id so a stored reference can be healed.
        Fewest hops wins per source; ties and ordering across sources go by total_weight, where LOWER is stronger — the weight scale is a distance, so paths come back strongest first.
        Geography and expertise are excluded from every route: both are hubs that connect everyone to everyone, so a path through one is not a connection anybody can act on. This is policy, not an option.
        A source with no route within max_hops is listed in unreachable_source_entity_ids. One that could not be traversed at all — unknown to Universe, or not yet written to the graph — is listed in skipped_source_entity_ids instead, and never silently dropped. 404 means the TARGET is not in the graph yet.
        Entitlements are checked on the target only. An interior node is part of how two entities connect, not something the response hands over: it carries a name and type, never a property bag.
        Requires scope `graph:paths`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphPathsRequest'
      responses:
        '200':
          description: |
            One path per reachable source, strongest first, plus what could not be reached or traversed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphPathsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/companies/get-add:
    post:
      operationId: getAddCompany
      tags:
        - Enrichment
      summary: Get-or-create a company (the enrichment entry gate)
      description: |
        The only sanctioned company get-or-create path. Resolves the seed through strong identifiers (profile URL, domain), runs the pre-create guards and the LLM research preflight, dedups against the Universe backbone and the fundable mirror, and creates the company with its initial graph node when nothing matches. Every branch returns the shell: guard misses come back 200 with `company_created: false` and null fields — a blocked input is an answer, not an error. A company name alone is never enough: the seed must carry a domain or profile URL. Requires scope `enrich:company`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddCompanyRequest'
      responses:
        '200':
          description: The company shell (found, created, or typed miss).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyShellEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/get-add:
    post:
      operationId: getAddPerson
      tags:
        - Enrichment
      summary: Get-or-create a person (the enrichment entry gate)
      description: |
        The only sanctioned person get-or-create path. Resolves the seed through its identifiers, dedups BEFORE paying for any provider, then runs the identity ladder (People Data Labs → Enrich Layer → Exa) only when nothing matched, and creates the person with an initial graph node. Every branch returns the shell: guard misses come back 200 with `person_created: false` and null fields — a blocked input is an answer, not an error. Requires scope `enrich:person`, which is independent of `enrich:company`. Two response fields need reading before you integrate. `match_via` names the key that resolved an existing person, so a caller can tell a LinkedIn hit from an email one. `fiber_deferred` means identity is still settling in a background run: the person row and node exist, enrichment has NOT been dispatched yet, and it fires automatically once the run lands — so poll the entity rather than re-posting the seed.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddPersonRequest'
      responses:
        '200':
          description: The person shell (found, created, or typed miss).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonShellEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/persona/persons/{id}:
    post:
      operationId: buildPersona
      tags:
        - Persona
      summary: Ask for a person's persona
      description: |
        Asks for the nine-dimension persona of one person: nine narratives, each embedded as its own vector, so people are matched dimension against the same dimension rather than as one averaged profile. Nothing is built by the time this returns. A synthesis runs for tens of seconds, so the work happens in a worker and this call only ever decides what to set in motion. Read `status` to know which: `exists` (200) means a persona built inside the freshness window already covers this person and nothing was started; `building` (202) means the evidence is present and a worker has the job; `queued` (202) means evidence is missing, whatever was absent has been started, and the person waits for it. A persona needs a deep bio and social insights, both of which take minutes to produce. When either is absent this call launches it and parks the person, and `started` names what it launched. Asking again while they wait is safe and cheap: it bumps a counter rather than queueing them twice, and starts nothing that is already running. Requires scope `persona:build`, which is independent of `enrich:person` — a client may be entitled to enrich a person without paying for their persona.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The canonical universe entity id of the person.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildPersonaRequest'
      responses:
        '200':
          description: A persona inside the freshness window already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaBuildEnvelope'
        '202':
          description: A build was started, or the person was queued for one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaBuildEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/leverage-loops:
    post:
      operationId: createLeverageLoop
      tags:
        - Persona
      summary: File a leverage loop
      description: |
        Files a leverage loop: who, out of the candidates the caller already knows, should the target be introduced to. The App owns who-knows-whom, so it pushes the whole candidate pool; the pipeline resolves them, builds the target's persona, scores both lanes, shortlists, drafts and judges the introductions. Minutes of work never run inline: the job is filed, a worker is nudged, and this call answers 202 with the job's bookkeeping. Poll `GET /v1/leverage-loops/{id}` with `job_id`, or set `callback_url` to be told. Idempotent on `suggestion_request_id`: a repeat returns the existing job, still 202, and does not nudge the worker again. `requested` is `false` only when the job was filed but the worker nudge failed. The body may be sent with `Content-Encoding: gzip` and is capped at 8 MiB either way; gzip at 20k candidates. When `callback_url` is set, the final `delivering` stage POSTs a `LeverageLoopWebhook` body to it; the row settles `delivered` only after the callback has answered, so a GET issued from inside the callback handler may still read `delivering` — take the suggestions from the webhook body and poll afterwards. The `X-Orbiter-Signature` header carries `sha256=<hex HMAC-SHA256 of the raw body>` keyed with the shared webhook secret, and is absent when the service has no secret configured — reject unsigned bodies in production. Up to four attempts, retried only on connection errors, 408, 429 and 5xx (not 501), with jittered exponential backoff (windows of 2s, 4s, 8s); any other answer of 300 or above fails on the first attempt. A failed delivery does not fail the job: `status` still settles `delivered`, the failure is recorded in `error`, and the GET remains the recovery path. Requires scope `leverage_loops:run`, which is independent of `persona:build` — a client may be entitled to personas without the loop, or the reverse.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeverageLoopRequest'
      responses:
        '202':
          description: The job, new or the existing one for this `suggestion_request_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeverageLoopEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The target person is unknown to the Universe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/leverage-loops/{id}:
    get:
      operationId: getLeverageLoop
      tags:
        - Persona
      summary: Poll a leverage loop
      description: |
        The polling read, and the recovery path when a webhook delivery failed. `id` is the `job_id` returned when the loop was filed, not the `suggestion_request_id`. `judge` and `suggestions` appear only once `status` is `delivered`; until then the response is the job's bookkeeping alone, and `error` carries the stage failure once it is `failed`. Requires scope `leverage_loops:run`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The loop's `job_id`.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The job; suggestions and the judge verdict ride along once delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeverageLoopEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/companies/{id}/social-insights:
    post:
      operationId: companySocialInsights
      tags:
        - Enrichment
      summary: Generate on-demand social insights for a company
      description: |
        Runs the social-insights synthesis (Grok over six bounded web evidence results) for one company — an on-demand context tool for meeting prep and suggestion flows, deliberately NOT part of the enrichment pipeline. Requires scope `social_media_insights:company`. Results are cached for 5 days: a repeat call inside the window returns the stored insights with `cached: true` and costs no LLM run (pass `force: true` to rebuild anyway). Companies with no distilled about text return `skipped: true` — enrich first.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypass the 5-day cache and rebuild.
      responses:
        '200':
          description: The insights (fresh, cached, or a typed skip).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/{id}/social-insights:
    post:
      operationId: personSocialInsights
      tags:
        - Enrichment
      summary: Generate on-demand social insights for a person
      description: |
        The person twin of the company trigger: a Grok synthesis over six bounded web evidence results, grounded in the person's distilled biography. On-demand context for meeting prep and suggestion flows, deliberately NOT part of the enrichment pipeline. Requires scope `social_media_insights:person` — a client sold company context is not thereby sold context on individuals. Results are cached for 5 days: a repeat call inside the window returns the stored insights with `cached: true` and costs no LLM run (pass `force: true` to rebuild anyway). People with no distilled biography return `skipped: true` — enrich first.
        Returns six outputs. `insights` name a platform and a time anchor; `interests` accumulate across runs rather than being replaced; `profile_urls` carry the evidence that bound them and are the only ones persisted, with everything refused recorded in `held_profile_urls`; `coverage_note` is the only place evidence- coverage commentary appears; `social_media_influence` is null rather than padded when the evidence cannot fill it.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypass the 5-day cache and rebuild.
      responses:
        '200':
          description: The insights (fresh, cached, or a typed skip).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSocialInsightsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/{id}/deep-research:
    post:
      operationId: personDeepResearch
      tags:
        - Enrichment
      summary: Return a person's Deep Bio, or research one (plus social insights) without the full pipeline
      description: |
        For people enriched WITHOUT deep research: returns the stored Deep Bio when a successful run is younger than the freshness window (`DEEP_BIO_FRESHNESS_DAYS`, 90 by default), else launches one under every pipeline guard — confirmed name, something on file to research beyond the name, the daily spend cap, and single-flight (a live job is joined, never duplicated). Social insights chain automatically when the bio lands; a fresh hit that has no insights yet asks for them and reports `social_insights_requested: true`. Requires scope `deep_research:person` — the most expensive call this system makes, sold apart from `enrich:person`. `status` is `fresh` (200, `deep_bio` filled), `skipped` (200, see `skip_reason`, nothing spent), `created` or `already_running` (202). Poll by calling again: the same call returns `fresh` once the bio has landed and distilled. `force: true` re-researches inside the window; the daily cap still applies.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeepResearchRequest'
      responses:
        '200':
          description: A fresh bio, or a typed skip.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepResearchEnvelope'
        '202':
          description: A job was created or is already running; poll by calling again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepResearchEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/callbacks/fullenrich:
    post:
      operationId: fullEnrichCallback
      tags:
        - Enrichment
      summary: Receive a finished FullEnrich profile (provider plane)
      description: |
        **Provider plane, not a consumer surface** — FullEnrich POSTs the profile we asked for. There is no API key and no scope: the caller proves itself with `X-Signature-SHA1`, an HMAC of the raw body keyed with the API key we call FullEnrich with. An unconfigured key denies every request. Documented for operators, not for integration: no consumer may call it, and it reads nothing out of the Universe. Delivery is at-least-once and may arrive more than once for one lookup, so the body is taken as evidence before it is judged. Every signed body is answered 200, including one we cannot parse or attribute — a non-2xx makes FullEnrich redeliver, and redelivery is what once wrote one person's profile onto another. A 500 means we failed to keep the payload and genuinely want it again.
      security:
        - providerSignature: []
      requestBody:
        required: true
        description: FullEnrich's webhook body, kept verbatim.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The delivery was taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/orgs:
    post:
      operationId: filingsEnqueueOrg
      tags:
        - Filings
      summary: Queue a nonprofit for a 990 filing-set run (management plane)
      description: |
        Upserts the org queue row for an EIN. Pass `ein`, or `name` to resolve it through ProPublica Nonprofit Explorer — a single exact-name hit is accepted, anything else is a 400 listing the candidates so the operator picks an EIN explicitly. Re-adding an EIN bumps its count and never narrows its window. Staff only: a WorkOS session with role `admin`, never a consumer API key.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilingsEnqueueOrgRequest'
      responses:
        '202':
          description: Queued (or already queued; `count` says how many times).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsEnqueueOrgEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/orgs/{ein}:
    get:
      operationId: filingsOrgStatus
      tags:
        - Filings
      summary: One nonprofit's queue row, filings, mention census and grant count (management plane)
      security:
        - bearerAuth: []
      parameters:
        - name: ein
          in: path
          required: true
          description: Nine digits, hyphen optional.
          schema:
            type: string
            pattern: ^[0-9]{2}-?[0-9]{7}$
      responses:
        '200':
          description: Status. `meta.attribution` carries the ProPublica attribution their terms ask for.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsOrgStatusEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/drain:
    post:
      operationId: filingsDrain
      tags:
        - Filings
      summary: Run one Stage A pass synchronously (management plane)
      description: |
        Sandbox stepping without the scheduler. With `ein` it runs that org now, whatever its tier or backoff (enqueuing it first if needed); otherwise it claims up to `max_rows` from the queue exactly as a scheduler tick would — and, like the tick, does nothing while `ENRICHMENT_FILINGS_990_QUEUE_DRAIN_ENABLED` is false.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilingsDrainRequest'
      responses:
        '200':
          description: One result per org run this pass.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsDrainEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: The named org's queue row is locked by another worker or dead-lettered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/filings/990/mentions:
    get:
      operationId: filingsListMentions
      tags:
        - Filings
      summary: List governance mentions in one resolution state (management plane)
      description: |
        The triage read for Stage B: Part VII roster rows by `resolution_state`, newest first, keyset-paged on the row id. `needs_review` is the human queue; `unresolved` is what the sweep will retry; `auto_linked` shows what the ladder decided and how.
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - unresolved
              - auto_linked
              - needs_review
              - rejected
              - not_applicable
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of mentions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsMentionsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/jobs:
    post:
      operationId: donorsRequestJob
      tags:
        - Donors
      summary: Request a Donors job (management plane)
      description: |
        Upserts a typed job: a `grantor_request` carries `ein` and asks the 990 adapter for that foundation's filings; a `recipient_sweep` carries `subject_entity_id` (a tracked School) and re-gates its unresolved lines; a `filing_replay` carries `filing_id` (a parsed filing with a canonical grantor); a `feed_scan` re-reads the whole parsed-filings feed from the beginning (the tick runs it incrementally on its own). The job key is derived from the subject, so a repeat lands on the same row — a repeat of a completed, parked or failed job returns it to pending with its checkpoint reset. Staff only: a WorkOS session with role `admin`, never a consumer API key.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonorsRequestJobRequest'
      responses:
        '202':
          description: The durable job (new, or the existing row with `count` bumped).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsJobEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A filing replay was requested while the 990 adapter is disabled, so the filing cannot be resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
    get:
      operationId: donorsListJobs
      tags:
        - Donors
      summary: List jobs in one state (management plane)
      description: |
        The triage read: jobs by `state`, newest first, keyset-paged on the row id. `parked` shows what each job is waiting for in `outcome` (`awaiting_filings_enabled`, `not_yet_built`, …); `failed` is the dead letter.
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - pending
              - running
              - completed
              - failed
              - parked
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsJobsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/jobs/{id}:
    get:
      operationId: donorsGetJob
      tags:
        - Donors
      summary: One job with its checkpoint, revision and result (management plane)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsJobEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/drain:
    post:
      operationId: donorsDrain
      tags:
        - Donors
      summary: Run one drain pass synchronously (management plane)
      description: |
        Sandbox stepping without the scheduler. With `job_id` it runs that job now, whatever its tier, backoff or parked state; otherwise it claims up to `max_rows` pending jobs exactly as a scheduler tick would. Like the tick, it does nothing while `ENRICHMENT_DONORS_QUEUE_DRAIN_ENABLED` is false (a named job answers 409 instead).
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonorsDrainRequest'
      responses:
        '200':
          description: One entry per job run this pass.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsDrainEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The drain gate is closed, or the named job is locked by another worker, dead-lettered or already completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/mentions:
    get:
      operationId: donorsListMentions
      tags:
        - Donors
      summary: List grant-line mentions in one recipient resolution state (management plane)
      description: |
        The recipient-side triage read: source lines by `recipient_resolution_state`, newest first, keyset-paged on the row id, optionally one grantor's. `needs_review` is the human queue (an exact legal name that nominated an allowlisted School, or an alias a reviewer judged ambiguous); `auto_linked` shows what the gate decided and how; `rejected` is a reviewed distinct entity; `unresolved` waits for new evidence.
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - unresolved
              - auto_linked
              - needs_review
              - rejected
              - anonymous
        - name: donor
          in: query
          description: Narrow to one grantor's lines.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of mentions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsMentionsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/edges:
    get:
      operationId: donorsListEdges
      tags:
        - Donors
      summary: List DONOR_TO ledger rows in one graph state (management plane)
      description: |
        The DONOR_TO ledger: one row per donor → recipient pair, its recomputed aggregate and revision, and whether the graph holds it. `pending` waits on a chosen `donor_to` fact or a node; `written` carries the edge uuid and the revision it was written at; `blocked` names why no weight can be assigned (`donor_class_unsupported` for a 990 filer's Schedule I, `no_eligible_gifts` after a withdrawal, `below_floor`, `bridge_gate_closed` for a trustee-derived row — real and revisioned, never projected until Q1/Q2 settle — and `mixed_routes_unsettled` for a pair holding both a direct gift and a derived route).
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum:
              - pending
              - written
              - blocked
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: before
          in: query
          description: The `meta.next_before` cursor of the previous page.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of ledger rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonorsEdgesEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/edges/{id}:
    get:
      operationId: donorsGetEdge
      tags:
        - Donors
      summary: One DONOR_TO ledger row with every route behind it (management plane)
      description: |
        The row plus its evidence: `direct` routes (the donor gave the gift) and `trustee_derived` routes (the donor sat on the foundation that gave it, in a filing period covering the grant), each with the governance refs the derivation depends on. A derived route that stopped holding is kept with `valid: false` and the check that failed — `person_unresolved`, `not_board_seat`, `trustee_former`, `period_not_covered`, `fact_not_chosen`, `canonical_edge_unwritten`, `gift_ineligible`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The row and its evidence.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DonorsEdgeDetail'
                  error:
                    type: 'null'
                  meta:
                    type:
                      - object
                      - 'null'
                required:
                  - data
                  - error
                  - meta
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/donors/edge-sweep:
    post:
      operationId: donorsEdgeSweep
      tags:
        - Donors
      summary: Run one bounded DONOR_TO reconciliation pass (management plane)
      description: |
        Draws every pending ledger row the graph does not hold at its current revision, when it may: the donor's `donor_to` fact is CHOSEN for the recipient and both endpoints have nodes. Anything else stays pending. Like the worker's sweep, it does nothing while `ENRICHMENT_DONORS_EDGE_WRITES_ENABLED` is false.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 200
      responses:
        '200':
          description: What the pass did.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - written
                      - pending
                      - skipped
                    properties:
                      written:
                        type: integer
                      pending:
                        type: integer
                        description: No chosen fact yet, or a node missing.
                      skipped:
                        type: integer
                        description: The aggregate moved under the write; the row stays pending.
                  error:
                    type: 'null'
                  meta:
                    type:
                      - object
                      - 'null'
                required:
                  - data
                  - error
                  - meta
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/seed/locations:
    post:
      operationId: seedGraphLocations
      tags:
        - Graph
      summary: Run one bounded batch of geography node creation
      description: |
        Operator-only. `kind=country` MERGEs `Country:Entity` nodes; `kind=region` MERGEs `Region:Entity` nodes plus their `IN_COUNTRY` edge; `kind=city` MERGEs `City:Entity` nodes plus `IN_REGION` (or `IN_COUNTRY` for region-less cities). Rows whose parent node is missing are held back (`awaiting_parent`) and picked up on a later run — seed countries, then regions, then cities, re-running each while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - country
                    - region
                    - city
                limit:
                  type: integer
                  description: Rows per batch (default 15, max 100).
              required:
                - kind
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/seed/expertise:
    post:
      operationId: seedGraphExpertise
      tags:
        - Graph
      summary: Run one bounded batch of expertise taxonomy node creation
      description: |
        Operator-only. `kind=domain` creates `DomainExpertise:Entity` nodes; `kind=subdomain` creates `SubDomainExpertise:Entity` nodes plus `HAS_SUBDOMAIN` edges. Subdomains whose parent domain has no node yet are held back (reported as `awaiting_parent`) and picked up on a later run. Seed domains to exhaustion before subdomains. Re-run while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - domain
                    - subdomain
                limit:
                  type: integer
                  description: Rows per batch (default 15, max 100).
              required:
                - kind
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/indexes/ensure:
    post:
      operationId: ensureGraphVectorIndexes
      tags:
        - Graph
      summary: Create the graph's vector indexes when absent
      description: |
        Operator-only, idempotent. Creates the Entity vector indexes (`embeddings` for consumer search, `expert_embeddings` for the SPECIALIZES_IN rebuild) at the embedder's width with cosine similarity. An index the graph already holds is left alone, never dropped and rebuilt.
        Needed because FalkorDB errors rather than falling back to a scan when a queried vector index is missing, so a graph without them fails every vector read. The API also runs this at boot; this route is how a graph created later, or one whose index was dropped, is repaired without a redeploy.
        Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: One entry per index, with created=false when it was already there.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - error
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - label
                        - property
                        - dimensions
                        - created
                      properties:
                        label:
                          type: string
                          example: Entity
                        property:
                          type: string
                          example: embeddings
                        dimensions:
                          type: integer
                          example: 1536
                        created:
                          type: boolean
                  error:
                    type: 'null'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/wipe:
    post:
      operationId: wipeGraph
      tags:
        - Graph
      summary: Wipe enrichment-created graph nodes and/or table rows
      description: |
        Operator-only, DESTRUCTIVE. `target` selects what dies — `nodes` (default): one bounded batch of nodes whose labels are outside the reference keep-set (Country, Region, City, DomainExpertise, SubDomainExpertise) — or, with `entity_type`, only that scope's labels (company = Company + Funding_Round; person = Person + its credential nodes Work, Certification, Honor; film_tv = Film_TV + Film_TV_Award; music = Music_Group, Release_Group, Recording, Music_Work, Event plus the Release and Place support nodes; company and person also take the InvestmentThesis nodes their investors own, selected through the HAS_INVESTMENT_THESIS edge because the thesis label is shared) — plus the write-back ledgers nulled (entities graph_node_uuid / graph_written_at, entity_addresses graph_written_at, funding_rounds graph_node_uuid / raised_edge_uuid) so replay rebuilds them; round caveat: with rows kept, cleared round uuids require a table-side reset before deals reprocess or duplicates land. `tables`: one-transaction delete of enrichment-written ROWS — theses, typed caches, entities and every ON DELETE CASCADE dependent (identifiers, facts, payloads, attempts, queue, satellites, dates, rounds, profiles) — plus fundables.deals.processed_at reset so the fanout re-materializes rounds (mirror data itself untouched); no graph calls. `all`: tables first, then a node batch. Seeded reference rows and nodes always survive. Do not run while enrichment/queue drain is active. Requires `confirm: true`; re-run while `has_more` is true (node batches; table wipes are one-shot). Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm:
                  type: boolean
                  const: true
                  description: Must be true — guards against stray POSTs.
                limit:
                  type: integer
                  description: |
                    Nodes per batch (default 1000, max 10000). CLAMPED, not rejected: a value at or below zero becomes the default and one above the max becomes the max, so no limit is ever a validation failure.
                entity_type:
                  type: string
                  enum:
                    - company
                    - person
                    - film_tv
                    - music
                    - stage_production
                    - video_game
                  description: |
                    Optional scope; omit to wipe every non-reference node. `music` is an umbrella — it covers all five music entity types (music_group, music_release_group, music_recording, music_work, music_event) plus the music_release / music_place support rows and the artist / label satellite profiles, because they are one pipeline. `video_game` is the other: the six game-family types (video_game, game_series, game_platform, game_engine, game_release, game_award) and their nodes, plus the lane's own rows — every root with its jobs, demands, retained source records, the negative cache — so the next person run rebuilds the games from scratch. People and companies the games link to are never touched.
                target:
                  type: string
                  enum:
                    - nodes
                    - tables
                    - all
                  description: |
                    What dies; OPTIONAL, and omitted means `nodes`. Unlike `/graph/purge-entity`, where a target is required: that call names one live row, this one is scoped and batched.
              required:
                - confirm
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeResultEnvelope'
        '400':
          description: |
            The body failed validation. `error.details` lists EVERY failing field in one response, keyed by the JSON name you sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                data: null
                error:
                  code: VALIDATION_FAILED
                  message: validation failed
                  details:
                    - field: confirm
                      issue: required
                    - field: entity_type
                      issue: oneof
                meta:
                  requestId: 6f1c2f7e-2b21-4a0b-9c3a-9a1f2d3e4b55
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/purge-entity:
    post:
      operationId: purgeEntity
      tags:
        - Graph
      summary: Purge ONE entity's rows and graph nodes
      description: |
        Operator-only, DESTRUCTIVE. The targeted counterpart of `/graph/wipe`: that one selects by label or entity_type and runs in bounded batches, this one names a single `entity_id` and runs to completion. `target` reuses the same vocabulary — `nodes` (default), `tables`, `all`.

        **The id set is the target plus its merge tombstones.** Every entity whose `merged_into` chain reaches the target is purged with it (transitively): that FK is NO ACTION and would otherwise block the delete. Their merge history is gone permanently, and they are listed in `tombstones_purged`.

        **Graph teardown is ledger-driven, not label-driven.** The entity's own node is DETACH DELETEd; then every satellite node the write-back ledgers name (funding_rounds, film_tv_awards, and the person certification / honor / project / publication nodes) is deleted ONLY if it has no edge left. That degree test is what keeps a shared node alive: a certification is one node for everyone who holds it, and an award node is shared by the film and the winner. Survivors are counted in `satellites_kept`. The investor's `InvestmentThesis` node is keyed by the thesis id, which no ledger names, so it is taken by `investor_uuid` and counted in `thesis_nodes_deleted`.

        **The purge edits OTHER entities.** `entity_facts.value_entity_id` CASCADEs, so a surviving entity's relation fact to the target dies; sixteen FKs SET NULL, so surviving rows keep their raw provider string but lose the resolved id (a colleague's `person_work_experience.company_entity_id`, a `master_persons.current_company_entity_id`, a round investor). Both are counted in `collateral` — run with `dry_run: true` first to see them without deleting.

        Seeded reference rows and nodes always survive, and the music support tables (release, place) are never touched: they belong to no entity. Requires `confirm: true` unless `dry_run` is set, and an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                  format: uuid
                  description: The entity to purge. Not resolved through merged_into — the id given is the id purged.
                confirm:
                  type: boolean
                  const: true
                  description: |
                    Must be true, and is REQUIRED unless `dry_run` is set — a dry run writes nothing, so demanding confirmation there would only train reflexive `confirm: true`.
                target:
                  type: string
                  enum:
                    - nodes
                    - tables
                    - all
                  description: |
                    What dies. REQUIRED — unlike `/graph/wipe`, where an omitted scope means "everything non-reference", this call names one live row, so what it deletes must be stated rather than defaulted. Required on a dry run too: a dry run reports what WOULD die, so it must say what.
                dry_run:
                  type: boolean
                  description: Compute and return every count without deleting anything.
              required:
                - entity_id
                - target
              if:
                properties:
                  dry_run:
                    const: true
                required:
                  - dry_run
              else:
                properties:
                  confirm:
                    const: true
                required:
                  - confirm
      responses:
        '200':
          description: Purge summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeResultEnvelope'
              examples:
                selfContainedPerson:
                  summary: A person nobody else referenced — collateral all zero
                  description: |
                    The normal result. Every collateral counter is zero because no surviving entity pointed at this person. Zeros are the answer, not a missing feature.
                  value:
                    data:
                      entity_id: 01a05d26-8e8f-7e6c-bf82-7721c5ddd45d
                      entity_type: person
                      target: all
                      dry_run: false
                      tombstones_purged: []
                      nodes_deleted: 1
                      edges_deleted: 0
                      satellites_deleted: 0
                      satellites_kept: 0
                      thesis_nodes_deleted: 0
                      entity_links_cleared: 1
                      address_links_cleared: 0
                      round_links_cleared: 0
                      music_links_cleared: 0
                      rows_deleted: 1
                      entities_deleted: 1
                      game_entities_purged: []
                      game_roots_deleted: 0
                      collateral:
                        relation_facts_deleted: 0
                        shared_awards_deleted: 0
                        references_nulled: 0
                        by_table:
                          person_work_experience: 0
                          person_education: 0
                          master_persons: 0
                          funding_round_investors: 0
                          funding_round_partners: 0
                          person_certification: 0
                          person_honor: 0
                          person_publication: 0
                          person_volunteering: 0
                    error: null
                    meta:
                      requestId: 1efc7bc3-cb52-4095-9a20-06d9029dbc36
                companyWithCollateral:
                  summary: A company 12 people worked at — collateral populated
                  description: |
                    Those 12 job rows SURVIVE with their company_name string intact; only the resolved company_entity_id is nulled. The 12 works_at relation facts are deleted outright. Two employees also had this company as their current employer on the typed cache. One certification issued by the company loses its issuer id.
                  value:
                    data:
                      entity_id: 01a05d37-e20f-7675-9c28-43057b77a5b8
                      entity_type: company
                      target: all
                      dry_run: true
                      tombstones_purged:
                        - 01a05d31-1111-7000-8000-000000000001
                      nodes_deleted: 3
                      edges_deleted: 14
                      satellites_deleted: 2
                      satellites_kept: 1
                      thesis_nodes_deleted: 1
                      entity_links_cleared: 2
                      address_links_cleared: 1
                      round_links_cleared: 2
                      music_links_cleared: 0
                      rows_deleted: 4
                      entities_deleted: 2
                      game_entities_purged: []
                      game_roots_deleted: 0
                      collateral:
                        relation_facts_deleted: 12
                        shared_awards_deleted: 0
                        references_nulled: 15
                        by_table:
                          person_work_experience: 12
                          person_education: 0
                          master_persons: 2
                          funding_round_investors: 0
                          funding_round_partners: 0
                          person_certification: 1
                          person_honor: 0
                          person_publication: 0
                          person_volunteering: 0
                    error: null
                    meta:
                      requestId: 2afc7bc3-cb52-4095-9a20-06d9029dbc37
        '400':
          description: |
            The body failed validation. `error.details` lists EVERY failing field in one response, keyed by the JSON name you sent, so a caller fixes all of them in one round trip rather than one per attempt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                data: null
                error:
                  code: VALIDATION_FAILED
                  message: validation failed
                  details:
                    - field: entity_id
                      issue: uuid
                    - field: target
                      issue: oneof
                    - field: confirm
                      issue: required_without
                meta:
                  requestId: 3c7a1d90-5f44-4e18-8a02-1b6d8e2f4c31
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/reconcile:
    post:
      operationId: reconcileGraph
      tags:
        - Graph
      summary: Re-run graph syncs for entities whose ledger says the graph is behind
      description: |
        Operator-only, non-destructive. Drains one bounded batch per selected `target` queue by re-running the same idempotent syncs the pipeline events trigger — the recovery path for sync events lost for good (worker booted without a graph client, redelivery past retention, dead-lettered messages). `companies`: entities with a master_companies row and graph_written_at null or older than last_enriched_at get a full node property sync. `locations`: companies with pending master_addresses rows and an existing company node get the address drain; node-less companies are reported as `awaiting_node` (sync companies first). `funding_rounds`: funding_rounds rows with a null graph link (never written, or node-wiped) get their round node + RAISED edge re-merged from row state under the row's own id — the original deal-id MERGE key died with the wiped node — with deals left stamped processed, so this replaces the wipe's table-side-reset caveat without duplicate rows; INVESTED_IN edges are NOT rebuilt (those need a deal reprocess). `all` (default) runs every queue. Successful rows stamp their ledger and leave the queue; re-run while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  enum:
                    - companies
                    - locations
                    - funding_rounds
                    - all
                  description: Queue to drain; omitted = all.
                limit:
                  type: integer
                  description: Entities per queue batch (default 15, max 500).
      responses:
        '200':
          description: Per-queue batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconcileResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/drift:
    post:
      operationId: graphDrift
      tags:
        - Graph
      summary: Audit the graph against every SQL write-back ledger; optionally sweep orphans
      description: |
        Operator-only. Inventories every node and edge in the graph and diffs it against the union of every `*_node_uuid` / `*_edge_uuid` ledger column in Postgres. A graph object no ledger claims is an orphan; a ledgered uuid the graph lacks is lost. With `sweep` false (default) the call only reports. With `sweep: true` it DETACH-DELETEs the orphans — destructive, so `confirm: true` is then required, the same guard as the wipe. Seeded reference nodes are never deleted. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sweep:
                  type: boolean
                  description: Delete the orphans the audit finds; false = report only.
                confirm:
                  type: boolean
                  description: Required (true) when sweep is true — guards against stray POSTs.
              if:
                properties:
                  sweep:
                    const: true
                required:
                  - sweep
              then:
                properties:
                  confirm:
                    const: true
                required:
                  - confirm
      responses:
        '200':
          description: The audit report; counts everywhere, bounded samples for review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/falkordb:
    get:
      operationId: listFalkorDBInstances
      tags:
        - Graph
      summary: List graph connection-config rows
      description: |
        Operator-only. Returns every falkordb.falkordb row, newest first. The OLDEST row is the one read at boot to build the graph client. Credentials are included by design. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All connection-config rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
    post:
      operationId: createFalkorDBInstance
      tags:
        - Graph
      summary: Create a graph connection-config row
      description: |
        Operator-only. Inserts a falkordb.falkordb row; the config is read at boot, so it takes effect on the next process start. db_connection or host is required. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                graph_name:
                  type: string
                user_name:
                  type: string
                password:
                  type: string
                host:
                  type: string
                port:
                  type: string
                db_connection:
                  type: string
                  description: |
                    Full endpoint (redis:// / falkors:// URL or host:port); used verbatim when set.
      responses:
        '201':
          description: The created row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/falkordb/{id}:
    delete:
      operationId: deleteFalkorDBInstance
      tags:
        - Graph
      summary: Delete a graph connection-config row
      description: |
        Operator-only. Removes a falkordb.falkordb row; effective on the next process start. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Deleted (data is null).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/entities/reviews/{id}/merge:
    post:
      operationId: mergeReviewItem
      tags:
        - Admin
      summary: Merge the pair a review filing names (management plane)
      description: |
        A human's half of the merge project: confirms a pending filing and runs the same merge transaction a strong-key clash runs — repoint every reference through the merge inventory, tombstone the loser with `merged_into`, ledger the manifest for undo, delete the loser's graph node — then announces `entity.merged` so sibling features re-derive what moved (a stage production re-lands its profile and redraws its credits under the survivor). The survivor defaults to the filing's proposed survivor; a `survivor_id` must be one of the two parties. A filing already decided answers 409. **Management plane, staff only** — an authenticated admin USER, never a consumer key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                survivor_id:
                  type:
                    - string
                    - 'null'
                  format: uuid
                  description: Overrides the proposed survivor; must be a party to the filing.
                note:
                  type:
                    - string
                    - 'null'
                  maxLength: 2000
      responses:
        '200':
          description: The merge as ledgered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewMergeEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/entities/reviews/{id}/reject:
    post:
      operationId: rejectReviewItem
      tags:
        - Admin
      summary: Close a review filing as rejected (management plane)
      description: |
        The pair stays two entities and the filing is closed with the reviewer's note. **Management plane, staff only.**
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type:
                    - string
                    - 'null'
                  maxLength: 2000
      responses:
        '200':
          description: The filing as closed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      review_item_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                          - rejected
                    required:
                      - review_item_id
                      - status
                  error:
                    type: 'null'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - error
                  - meta
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients:
    post:
      operationId: createConsumerClient
      tags:
        - Admin
      summary: Register a consumer client
      description: |
        Management plane, never part of the consumer data contract. Registers a client with its entitlement scopes; issue a key next via `POST /v1/admin/clients/{id}/keys`. Requires an authenticated admin USER (WorkOS session bearer token, role `admin`) — consumer API keys are always rejected here. Until the auth feature lands the verifier is nil and every deployed environment denies all requests.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique display name for the client org.
                scopes:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConsumerScope'
                  description: |
                    Entitlement scopes, data plane only. Unknown scopes are rejected; management actions are role-guarded and have no scope.
                entitlements:
                  type: object
                  description: |
                    Optional entity-level filter for partial-data deals, e.g. {"entity_types": ["person"]}. Empty = full access within scopes.
                contact_email:
                  type:
                    - string
                    - 'null'
              required:
                - name
      responses:
        '201':
          description: The registered client (no key material).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerClientEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A client with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients/{id}/keys:
    post:
      operationId: issueConsumerClientKey
      tags:
        - Admin
      summary: Issue an API key for a client
      description: |
        Management plane. Mints a raw API key, stores only its SHA-256 hash, and returns the raw key ONCE — it cannot be retrieved again, only revoked and replaced. Multiple active keys per client enable zero-downtime rotation: issue new, deploy, revoke old. Requires an authenticated admin user (role `admin`), never a consumer API key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type:
                    - string
                    - 'null'
                  description: Ops label, e.g. "initial key 2026-07".
                expires_at:
                  type:
                    - string
                    - 'null'
                  format: date-time
                  description: Optional expiry; must be in the future.
      responses:
        '201':
          description: The issued key, raw secret included this once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedKeyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients/{id}/scopes:
    post:
      operationId: updateConsumerClientScopes
      tags:
        - Admin
      summary: Replace a client's scopes
      description: |
        Management plane. Replaces the client's whole scope array — this is not a merge, so send the full set the client should keep. `[]` is allowed and strips every scope: it is the kill-switch. Scopes are read fresh on every request, so the change takes effect on the client's next call while its keys stay valid — no key needs to be revoked or reissued. Idempotent; a disabled client's scopes stay editable. Requires an authenticated admin user (role `admin`); consumer API keys are always rejected here.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scopes:
                  type: array
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/ConsumerScope'
                  description: |
                    The complete new scope set. Empty strips every scope.
              required:
                - scopes
              additionalProperties: false
      responses:
        '200':
          description: The client with its new scopes (no key material).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerClientEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/keys/{id}/revoke:
    post:
      operationId: revokeConsumerClientKey
      tags:
        - Admin
      summary: Revoke an API key
      description: |
        Management plane. Soft-revokes one key (the row survives for audit); other keys on the same client keep working. Requires an authenticated admin user (role `admin`), never a consumer API key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Revoked (data is null).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/persons/social-insights/backfill:
    post:
      operationId: backfillPersonSocialInsights
      tags:
        - Enrichment
      summary: Request social insights for persons whose Deep Bio never chained one (management plane)
      description: |
        A Deep Bio landing now chains a forced social-insights rebuild. Persons researched before that chain existed hold a distilled Deep Bio and no insights; this publishes one forced request per such person. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key, because each request is a paid LLM build (~90s) plus two web searches. One bounded batch per call. Requests are asynchronous, so a person leaves the backlog only once the build lands; calling again inside that window asks for the same people again. A person whose build failed in the last day is skipped so one bad subject is not re-bought on every call. `remaining` is true when the batch filled — call again until it is false.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Persons to request in this batch. Omitted uses the server default (25); values above the server ceiling (200) are clamped.
          schema:
            type: integer
            minimum: 1
        - name: dry_run
          in: query
          required: false
          description: When `true`, counts the backlog and publishes nothing.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The batch result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsBackfillEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/persons/social-insights/persist:
    post:
      operationId: persistPersonSocialInsights
      tags:
        - Enrichment
      summary: Decode stored social-insights payloads into the person_social_insights rows (management plane)
      description: |
        Closes the gap for insights runs that landed before the satellite table existed: for every person whose latest `social_insights` payload has no row, the payload is decoded into one. No LLM call and no provider spend; `model` stays null because the envelope never carried it. **Management plane, staff only** — a WorkOS session with role `admin`. One bounded batch per call; `remaining` is true when the batch filled.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Persons to persist in this batch. Omitted uses the server default (25); values above the server ceiling (200) are clamped.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: The batch result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsPersistEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/caps:
    get:
      operationId: enrichmentCapStatus
      tags:
        - Enrichment
      summary: Entity-cap headroom audit (management plane)
      description: |
        Answers "how many entities do we hold, and how many may we still add" for each of the three ceilings — `company`, `person` and `music`. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key: caps are operations config. There is no scope that grants this. Strictly read-only, and it counts live rather than reporting a stored number, so it can never disagree with the brake that blocks enrichment. It resolves each ceiling through the same scope map the brake uses: `film_tv` rides the person ceiling and is not counted, and the five music catalog types share one ceiling measured against their summed population. Merge tombstones are excluded from every bucket — a merge loser holds no cap budget. `limit` 0 means no row is configured for that key, which the brake itself treats as fail-closed.
      security:
        - bearerAuth: []
      parameters:
        - name: basis
          in: query
          required: false
          description: |
            Which bucket drives `used`, `remaining` and `pct_used`. Defaults to `all`, which is what the brake counts. The `counts` breakdown is always complete regardless.
          schema:
            type: string
            enum:
              - all
              - enriched
              - not_enriched
            default: all
      responses:
        '200':
          description: One entry per ceiling, in the order company, person, music.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentCapStatusEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/companies/person-handoff-backfill:
    post:
      operationId: backfillPersonHandoff
      tags:
        - Enrichment
      summary: Replay people envelopes the person handoff never ran for (management plane)
      description: |
        Closes the gap left by fetch-once: a company whose `exa_c_suite` or `yc_data` envelope landed before the person handoff existed keeps the envelope and never calls the handoff again, so its executives and founders were never created. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key. There is no scope that grants this, because the call creates entities and spends provider credit (up to three paid LinkedIn lookups per company). Only seed companies (cascade depth zero) are eligible. Set `company_id` for recovery of one company. One bounded batch per call, so an operator watches the counts rather than starting an unbounded sweep. Idempotent: a company that succeeds gets a marker attempt row and drops out of the next batch, and the person entry gate dedupes anyone already created. `remaining` is true when the batch filled — call again until it is false, since a full batch is not a cleared backlog.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Companies to process in this batch. Omitted uses the server default (25); values above the server ceiling (200) are clamped.
          schema:
            type: integer
            minimum: 1
        - name: company_id
          in: query
          required: false
          description: |
            Limit recovery to this seed company. Leaf companies and completed handoffs are excluded. Invalid or empty IDs never start a batch.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The batch result, with every count beside its denominator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonHandoffBackfillEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/enrichment/music/seed:
    post:
      operationId: seedMusicEntity
      tags:
        - Enrichment
[...]
